
@page
@model CreateCityModel
<form method="post">
    <input asp-for="CityName" />
    <button type="submit">Enviar</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>@Model.Message</p>
}
